.matches-container {
    overflow: scroll;
    height: 100%;
    position: relative;  
}

.fixtures {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 200px;
    gap: 10px;
}