.table-container {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: white;
    padding: 20px;
}

.table-headers {
    display: grid;
    height: 30px;
    border-bottom: solid 0.5px rgba(255, 255, 255, 0.37);
    justify-content: flex-start;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
}